- name: csphere-skydns.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Csphere SkyDns Service
    After=csphere-etcd2.service
    
    [Service]
    User=root
    ExecStartPre=/bin/etcdctl set /skydns/config '{"domain":"csphere.local.","dns_addr":"0.0.0.0:53"}'
    ExecStart=/bin/skydns -verbose -addr=0.0.0.0:53 -domain="csphere.local." -machines=127.0.0.1:2379

    [Install]
    WantedBy=multi-user.target
