- name: csphere-etcd2-early.service
  command: start
  enable: true
  content: |
    [Unit]
      Description=Csphere Etcd2 Early Work
      After=systemd-networkd-wait-online.service

    [Service]
      User=root
      Type=oneshot
      ExecStart=/etc/csphere/csphere-etcd2-early.sh

    [Install]
      WantedBy=multi-user.target
