- name: csphere-etcd2.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Csphere Etcd2 Service
    After=systemd-networkd-wait-online.service
    Wants=systemd-networkd-wait-online.service

    [Service]
    User=root
    # REMOVE ME
    Type=oneshot
    Environment=ETCD_DATA_DIR=/var/lib/etcd2
    ExecStart=/etc/csphere/csphere-etcd2.sh
    # USE THIS
    # Restart=always
    # RestartSec=10s
    # LimitNOFILE=40000

    [Install]
    WantedBy=multi-user.target
