- name: csphere-prometheus.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=An open-source service monitoring system and time series database
    After=network.target
    
    [Service]
    User=root
    ExecStartPre=/bin/mkdir -p /data/monitor
    ExecStartPre=/bin/mkdir -p /data/logs
    ExecStartPre=/bin/mkdir -p /data/alarm-rules
    ExecStart=/bin/prometheus -config.file /etc/prometheus.yml -storage.local.path /data/monitor -alertmanager.url http://127.0.0.1 -storage.local.memory-chunks 80000 -storage.local.max-chunks-to-persist 80000 -storage.local.index-cache-size.fingerprint-to-metric 5242880 -storage.local.index-cache-size.fingerprint-to-timerange 2621440 -storage.local.index-cache-size.label-name-to-label-values 5242880 -storage.local.index-cache-size.label-pair-to-fingerprints 10485760 -web.listen-address=127.0.0.1:9090

    [Install]
    WantedBy=multi-user.target
