- name: csphere-etcd2-after.service
  command: start
  enable: true
  content: |
    [Unit]
      Description=Csphere Etcd2 After Work
      After=systemd-networkd-wait-online.service
      After=csphere-etcd2.service

    [Service]
      User=root
      Type=oneshot
      ExecStart=/etc/csphere/csphere-etcd2-after.sh

    [Install]
      WantedBy=multi-user.target
