- name: csphere-skydns.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Csphere SkyDns Service
    Requires=csphere-etcd2.service
    
    [Service]
    User=root
    ExecStart=/bin/skydns -verbose -addr="127.0.0.1:53" -domain="csphere.local." -machines="127.0.0.1:2379"

    [Install]
    WantedBy=multi-user.target
