- name: csphere-controller.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Csphere Controller Service
    After=csphere-prometheus.service csphere-mongodb.service
    Requires=csphere-prepare.service
    Requires=csphere-etcd2.service

    [Service]
    User=root
    EnvironmentFile=/etc/csphere/csphere-controller.env
    ExecStartPre=/bin/mkdir -p /root/.ssh
    ExecStartPre=/bin/mkdir -p /data/logs
    ExecStart=/bin/csphere --tls controller --tsdb-url http://127.0.0.1:9090

    [Install]
    WantedBy=multi-user.target
