- name: csphere-dockeripam.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Csphere Docker IPAM Service
    Requires=csphere-etcd2.service
    After=csphere-etcd2.service
    Before=csphere-docker.service

    [Service]
    User=root
    ExecStart=/bin/net-plugin --cluster-store etcd://127.0.0.1:2379 server
    Restart=always
    RestartSec=10s

    [Install]
    WantedBy=multi-user.target
