- name: csphere-controller.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=csphere controller
    After=csphere-prometheus.service csphere-mongodb.service

    [Service]
    User=root
    EnvironmentFile=/etc/csphere-controller.env
    ExecStartPre=/bin/mkdir -p /root/.ssh
    ExecStart=/bin/csphere --tls controller --tsdb-url http://127.0.0.1:9090

    [Install]
    WantedBy=multi-user.target
