- name: csphere-docker.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Csphere Docker Engine Service
    Documentation=http://docs.docker.com
    After=network.target
    Requires=csphere-etcd2.service
    After=csphere-etcd2.service
    Conflicts=docker.service

    [Service]
    Environment=TMPDIR=/var/tmp
    Environment=KV_PROVIDER=etcd
    Environment=KV_URL=127.0.0.1:2379
    EnvironmentFile=-/etc/csphere/csphere_docker.env
    EnvironmentFile=-/run/flannel_docker_opts.env
    MountFlags=slave
    LimitNOFILE=1048576
    LimitNPROC=1048576
    ExecStart={EXECSTART}

    [Install]
    WantedBy=multi-user.target
