- name: csphere-prepare.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Csphere Prepare Work
    Requires=csphere-etcd2.service

    [Service]
    User=root
    Type=oneshot
    ExecStart=/etc/csphere/csphere-prepare.sh

    [Install]
    WantedBy=multi-user.target
