- name: csphere-mongodb.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Csphere Mongodb Service
    After=network.target
    
    [Service]
    User=root
    ExecStartPre=/bin/mkdir -p /data/db
    ExecStartPre=/bin/mkdir -p /data/logs
    ExecStart=/bin/mongod --quiet --config /etc/mongodb.conf

    [Install]
    WantedBy=multi-user.target
