- name: csphere-agent.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Csphere Agent Service
    Requires=csphere-prepare.service
    Requires=csphere-skydns.service

    [Service]
    EnvironmentFile=/etc/csphere/csphere-agent.env
    User=root
    ExecStartPre=/bin/sleep 1
    ExecStart=/bin/csphere --tls join --dns=$LOCAL_ADDR
    Restart=on-failure
    RestartSec=3

    [Install]
    WantedBy=multi-user.target
