- name: csphere-etcd2.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Csphere Etcd2 Service
    After=systemd-networkd-wait-online.service
    After=csphere-etcd2-early.service
    Wants=systemd-networkd-wait-online.service
    Wants=csphere-etcd2-early.service

    [Service]
    User=root
    EnvironmentFile=/etc/csphere/csphere-etcd2.env
    ExecStartPre=/bin/sleep 3s
    ExecStart=/bin/etcd2
    Restart=always
    RestartSec=10s
    LimitNOFILE=40000

    [Install]
    WantedBy=multi-user.target
