- name: network-custom.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=csphere network config
    After=systemd-networkd-wait-online.service
    Wants=systemd-networkd-wait-online.service

    [Service]
    User=root
    Type=oneshot
    ExecStart=/etc/csphere/br.sh

    [Install]
    WantedBy=network-online.target
