- name: network-custom.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Csphere Network Config
    After=systemd-networkd-wait-online.service
    Wants=systemd-networkd-wait-online.service
    Before=docker.service

    [Service]
    User=root
    Type=oneshot
    ExecStart=/etc/csphere/br.sh

    [Install]
    WantedBy=network-online.target
